<!--<p>book-list works!</p>-->
<h1>Book List</h1>
<a [routerLink]="'/create'" >+ Add a new book</a>
<table border="2 solid" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác giả</th>
    <th scope="col" colspan="2"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of listBook" class="thead-light">
    <td scope="row">{{book.id}}</td>
    <td> <a [routerLink]="['/', book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td><button type="button" class="btn btn-success" [routerLink]="'/edit/'+book.id">Edit</button></td>
    <td><button type="button" class="btn btn-danger" [routerLink]="'/delete/'+book.id">Delete</button></td>
  </tr>
  </tbody>
</table>
