<h3>Edit Book</h3>
<form [formGroup]="formEdit" (ngSubmit)="updateBook()">
  <input type="hidden" class="form-control"
         formControlName="id"
         name="id" id="id"
         aria-label="id" placeholder="Id">
  <label for="title">Title:</label>
  <input type="text" class="form-control"
         formControlName="title"
         name="title" id="title"
         aria-label="Title" placeholder="Title">
  <div *ngIf="!formEdit.controls.title.valid && formEdit.controls.title.touched" class="alert alert-danger">
    Title is required
  </div>
  <label for="author">Author:</label>
  <input type="text" class="form-control"
         formControlName="author"
         name="author" id="author"
         aria-label="author" placeholder="author">
  <div *ngIf="!formEdit.controls.author.valid && formEdit.controls.author.touched" class="alert alert-danger">
    Author is required
  </div>
  <label>Descrition:</label>
  <textarea rowps="4" type="text" class="form-control"
            formControlName="description"
            name="description" aria-label="description" placeholder="description"></textarea>
  <input type="submit" class="btn btn-success mt-2" value="Cập nhật">
  <a class="btn btn-danger mt-2 ml-2" routerLink="/books">Quay Lại</a>
</form>
