<h2>Create Book</h2>
<button type="button" class="btn btn-primary" [routerLink]="''">Back to List</button>
<hr>
<form [formGroup]="postForm" (ngSubmit)="createBook()">
  <div>
    <label>
      Title
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="postForm.get('title').invalid && postForm.get('title').touched" style="color: red">
    Title is required and min length is 10
  </div>
  <div>
    <label>
      Author
      <br>
      <input type="text" formControlName="author">
    </label>
  </div>
  <div *ngIf="postForm.get('author').invalid && postForm.get('author').touched" style="color: red">
    Author is required and min length is 10
  </div>
  <div>
    <label>
      Description
      <br>
      <textarea formControlName="body" cols="30" rows="10"></textarea>
    </label>
  </div>
  <div *ngIf="postForm.get('description').invalid && postForm.get('description').touched" style="color: red">
    Description is required and min length is 10
  </div>
  <button  type="button" class="btn btn-success" type="submit">Create</button>
</form>
